@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

body {
  display: flex;
  flex-direction: column;
  grid-template-columns: 100%;
}

.huvudsida {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #b9ffc8;
  border-radius: 2rem;
}

nav img {
  padding: 1rem;
}

.kundvagn {
  margin-left: auto;
}

article img {
  width: 90%;
  height: auto;
  border-radius: 1rem;
}

article h2 {
  font-weight: bold;
}

article button {
  width: 80%;
  height: 4rem;
  text-align: center;
  padding: 1rem;
  background-color: #ff9595;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  border-radius: 1rem;
  padding-top: 1rem;
  background-color: white;
}

.artikelsamling {
  background-color: #b9ffc8;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

main {
  padding: 2vw;
  margin: 2vw;
}

article p {
  text-align: center;
}

footer {
  background-color: #b9ffc8;
}

.sidinfo {
  background-color: #b9ffc8;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  background-color: #b9ffc8;
}

footer {
  border-radius: 2rem;
  padding: 2rem;
}

/* Stilregler för mobil */
@media only screen and (max-width: 767px) {
  .huvudsida h2 {
    margin-top: 3rem;
    margin-bottom: 0rem;
  }

  aside {
    display: none;
  }

  nav img {
    width: 4rem;
    aspect-ratio: 1/1;
    margin-top: 0.5rem;
    padding: 1rem;
  }

  header button {
    display: flex;
    align-items: center;
    height: 4rem;
    margin: 7.5% 0;
    border: none;
    background-color: transparent;
  }
}

/* Stilregler för surfplattor */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .huvudsida h2 {
    margin-top: 4.5rem;
  }

  header button {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 5%;
    border: none;
    background-color: transparent;
  }

  nav img {
    width: 8rem;
    aspect-ratio: 1/1;
    margin-top: 0.5rem;
    padding: 1rem;
  }

  main {
    margin: 0.25rem;
    padding: 0.5rem;
  }
  .artikelsamling {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  aside {
    margin: 2rem;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    width: 30%;
    border-radius: 1rem;
    padding: 2rem;
  }

  footer {
    font-size: 3rem;
  }
}

/* Stilregler för dator */
@media only screen and (min-width: 1025px) {
  main {
    margin: 0.25rem;
    padding: 0.5rem;
  }

  .huvudsida h2 {
    margin-top: 5.5rem;
  }

  .artikelsamling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  header button {
    display: flex;
    align-items: center;
    height: 4rem;
    margin-top: 4.5%;
    border: none;
    background-color: transparent;
  }

  nav img {
    width: 10rem;
    aspect-ratio: 1/1;
    margin-top: 0.5rem;
    padding: 1rem;
  }

  aside {
    margin: 2rem;
    margin-top: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    width: 40%;
    border-radius: 1rem;
    padding: 2rem;
  }

  aside li {
    margin: 2rem;
    margin-left: 0%;
    font-family: "Luckiest Guy", serif;
  }

  aside h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
  }
}
